name: "IaC - Build an Release"

on:
  push:
    branches: [feature/release-2.0]
    paths: [infrastructure/**, .github/**]

defaults:
  run:
    working-directory: infrastrucutre

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Git clone the repository
        uses: actions/checkout@v3
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::063661473261:role/CICDPreperation-GitHubOIDCOIDCRole5001FAA8-3LWHM4EVGQP4
          aws-region: eu-central-1
      - name: ls s3
        run: |
          aws s3 ls
      # - name: install all dependency
      #   run: pip install -r requirements-dev.txt
      # - name: run unittests
      #   run: pytest --cov=./ --cov-report=xml
      # - name: update code-coverage
      #   uses: codecov/codecov-action@v2
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
      #     working-directory: ./infrastrucutre/
      #     files: ./coverage.xml # optional
      #     flags: infrastrucutre # optional
      #     name: infrastrucutre # optional
      #     fail_ci_if_error: true # optional (default = false)
      # - name: cdk deploy
      #   uses: youyo/aws-cdk-github-actions@v2
      #   with:
      #     cdk_subcommand: "deploy"
      #     actions_comment: true
      #     cdk_args: "--require-approval never"
      #     working_dir: "infrastrucutre"
      #   env:
      #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_CICD_IAC }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_CICD_IAC }}
      #     AWS_DEFAULT_REGION: "eu-central-1"
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     GITLAB_AZURE_PIPELINE_WEBHOOK: ${{ secrets.GITLAB_AZURE_PIPELINE_WEBHOOK }}
